@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swa);

* {
    text-align: center;
}

body {
    font-family: 'Press Start 2P', cursive;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.title {
    font-size: 40px;
    margin: 50px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.color-picker {
    height: 60px;
    width: 60px;
    border: none;
    background-color: transparent;
    align-self: center;
}

.range-input {
    width: 40px;
    height: 16px;
}

.range-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: -16px;
}

button {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
}

.grid-container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    flex-shrink: 0;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
}