@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swa);

* {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.title {
    font-size: 40px;
    margin: 40px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

button {
    padding: 10px;
}

.range-display {
    margin-bottom: -16px;
}

.grid-container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
}